@import '../../styles/helpers';
@import '../../styles/mixins';

.user__card {
  @extend %component;
  display: flex;
  width: 100%;
  height: 100%;
  // max-height: 175px;
  // // justify-content: space-between;
  // // flex: 1;
  // // padding: calc(var(--spacer) * 2.5);

  &_info,
  &_chart {
    @extend %display__flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_chart {
    .chart {
      width: 100%;
      height: 100%;
    }
    flex: 2;
    align-items: flex-end;
    .card__user_rate {
      display: flex;
      align-items: center;
      font-family: var(--font-secondary);
      column-gap: 0.5rem;
      font-weight: 600;
    }
    .stats__percentage {
      &.positive {
        filter: brightness(0) saturate(100%) invert(66%) sepia(21%)
          saturate(644%) hue-rotate(92deg) brightness(93%) contrast(88%);
      }
      &.negative {
        transform: rotate(180deg);
        filter: brightness(0) saturate(100%) invert(21%) sepia(92%)
          saturate(2708%) hue-rotate(339deg) brightness(88%) contrast(85%);
      }
    }
  }

  &_info {
    flex: 3;
    .amount {
      display: grid;
      flex-direction: column;
    }
    .link {
      text-decoration: none;
    }
    .card__user_amount {
      font-size: 2.4rem;
      font-family: var(--font-secondary);
      font-weight: 600;
    }
    .cart__user_icon {
      background-color: #f6f9ff;
      width: 2em;
      height: 2em;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        filter: invert(71%) sepia(11%) saturate(1249%) hue-rotate(92deg)
          brightness(88%) contrast(89%);
      }
    }
    .card__user_type {
      font-size: 1.4rem;
      color: var(--clr-gray);
      font-weight: normal;
    }
  }
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    // background-color: var(--clr-primary);
    // color: var(--clr-white);
    // .cart__user_icon {
    //   background-color: var(--clr-primary-darken);
    //   img {
    //     filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    //       saturate(0%) hue-rotate(87deg) brightness(104%) contrast(102%);
    //   }
    // }
    // .card__user_type {
    //   color: var(--clr-white);
    // }
  }
}

// .triangle,
// .triangle:before,
// .triangle:after {
//   width: 12px;
//   height: 12px;
// }
// .triangle {
//   overflow: hidden;
//   position: relative;
//   // margin: 7em auto 0;
//   border-radius: 20%;
//   transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
//   cursor: pointer;
//   pointer-events: none;
// }
// .triangle:before,
// .triangle:after {
//   position: absolute;
//   background: #1a47b0;
//   pointer-events: auto;
//   content: '';
// }
// .triangle:before {
//   border-radius: 20% 20% 20% 53%;
//   transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
//     skewX(30deg) scaleY(0.866) translateX(-24%);
// }
// .triangle:after {
//   border-radius: 20% 20% 53% 20%;
//   transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
//     skewX(-30deg) scaleY(0.866) translateX(24%);
// }
